<div>
    <h1>student</h1>

<table class="table">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>math</th>
        <th>phy</th>
        <th>che</th>
        <th>Per</th>
    </tr>
    <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{math}}</td>
    <td>{{phy}}</td>
    <td>{{che}}</td>
    <td>{{display()}}</td>
    
    </tr>
    
    
    
    
    
    
    
    
    
    
    
    </table>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </div>